body#layout .outer-wrapper {
  width: 970px;
}
body#layout .content-wrapper {
  width: 970px;
}
body#layout #header {
  width: 300px;
  float: left;
  margin-top: 30px;
}
body#layout #header2 {
  width: 500px;
  float: right;
}
body#layout .main-wrapper {
  width: 550px;
  float: left;
}
body#layout .sidebar-wrapper,
.sidebar1-wrapper {
  width: 300px;
  float: right;
}
body#layout .sidebar_bleft {
  width: 45%;
  float: left;
}
body#layout .sidebar_bright {
  width: 45%;
  float: right;
}
body#layout ul {
  display: none;
}
nav,
.label a,
.page-footer {
  background-color: #16252e;
}
a:hover {
  color: #16252e;
}
nav a:hover {
  color: #fff;
}
.footer-copyright {
  display: inline-block;
}
.footer-copyright li {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}
.footer-copyright li a {
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 3px;
}
.footer-copyright li a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
}
.breadcrumbs svg {
  width: 16px;
  height: 16px;
  vertical-align: -4px;
}
label {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
}
.label a {
  margin: 0;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}
@media screen and (max-width: 600px) {
  .flex-footer {
    width: 100%;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-copyright li {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-copyright li a {
    margin: auto;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 715px) and (min-width: 601px) {
  .flex-footer {
    align-items: flex-end;
    place-content: flex-end;
    width: 75%;
    flex-flow: wrap;
    display: flex;
  }
  .footer-copyright li {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 716px) {
  .flex-footer {
    width: 78%;
    direction: rtl;
  }
  .footer-copyright li {
    margin-bottom: 25px;
  }
}
